label {
    width: 100%;
    height: 100%;
}

.btn-On-Off {
    width: 30%;
    height: 100%;
    position: relative;
    padding: 10px 0px 0px 15px;
}

.btn-On-Off::before{
    box-sizing: border-box;
    content: '';
    width: 2em;
    height: 1em;
    border-radius: 1em;
    background-color: rgb(255, 98, 98);
    position: absolute;
}

.btn-On-Off::after {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: white;
    position: absolute;
}

.btn-On-Off,
.btn-On-Off::before,
.btn-On-Off::after {
    transition: all .2s cubic-bezier(0.34, 0.79, 0.46, 0.98);
}

#checkInvertColor:checked~label .btn-On-Off::after {
    margin-left: 1em;
    background-color: black;
}

#checkInvertColor:checked~label .btn-On-Off::before {
    background-color: rgb(0, 255, 0);
}