nav {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: -50px;
    transition: all .4s cubic-bezier(0.34, 0.79, 0.46, 0.98);
}

nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
}

nav ul li {
    font-size: 20pt;
    display: flex;
    width: 230px;
    height: 100%;
    color: white;
    font-family: Arial, sans-serif;
    border-right: 1px solid rgba(206, 206, 206, 0.384);
    border-bottom: 1px solid rgba(206, 206, 206, 0.384);
}

.items-label {
    width: 100%;
    height: 100%;
    display: flex;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    width: 70%;
    height: 100%;
}

#checkViewMenu:checked~nav {
    top: 0px;
}