.labels {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.labels label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #fff;
}

.labels label:hover {
    background-color: rgba(255, 255, 255, .2);
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sections {
    transition: all .4s;
}

.bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bloco img {
    width: 40%;
}

.section01 {
    background-color: #7fbd42;
}

.section02 {
    background-color: #69f;
}

.section03 {
    background-color: #faa;
}

.section04 {
    background-color: #414950;
}

#rd_section02:checked~.sections {
    margin-top: -100vh;
}

#rd_section03:checked~.sections {
    margin-top: -200vh;
}

#rd_section04:checked~.sections {
    margin-top: -300vh;
}